@import "../../../styles/breakpoint";
@import "../../../styles/converter";
@import "../../../styles/variables";

.hero {
  background-image: image-set(
    "../../../assets/images/hero-bg.png" 1x,
    "../../../assets/images/hero-bg@2x.png" 2x,
    "../../../assets/images/hero-bg@3x.png" 3x
  );
  background-color: #b8e6e3;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 115%;
  height: to-rem(680);
  padding: to-rem(30 15);
  width: 100%;

  @include md() {
    padding: to-rem(30 80);
    background-size: 90%;
  }

  &_caption {
    &_title {
      font-family: Montserrat, sans-serif;
      max-width: to-rem(600);
      margin-top: to-rem(104.6);
      font-size: to-rem(40);
      line-height: 1.2;
      @include md() {
        font-size: to-rem(64);
      }
      @include lg() {
        font-size: to-rem(82);
      }
    }

    &_description {
      max-width: to-rem(400);
      margin-top: to-rem(22);
      margin-left: to-rem(10);
      font-size: to-rem(18);
      line-height: 1.44;
    }

    &_button {
      margin: to-rem(38 10 120);
      width: to-rem(200);
      height: to-rem(48);
    }
  }
}
