@import "../../styles/breakpoint";
@import "../../styles/converter";
@import "../../styles/variables";

.modal {
  background: #fff;
  position: absolute;
  z-index: 10;
  width: 90vw;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 5px 10px 2px rgba(195, 192, 192, 0.5);
  border-radius: to-rem(8);
  input,
  select {
    min-height: to-rem(45);
  }
  &_cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    border-radius: to-rem(0);
  }
  &_small {
    @include md() {
      width: to-rem(574);
      height: fit-content;
      padding: to-rem(32);
    }
  }
  &_medium {
    @include md() {
      width: to-rem(754);
      height: fit-content;
      padding: to-rem(32);
    }
  }
  &_header {
    margin-bottom: to-rem(32);
    display: flex;
    justify-content: flex-end;
    &_closeIcon {
      cursor: pointer;
      fill: $manual-green;
      stroke: $manual-green;
      height: to-rem(50);
      width: to-rem(50);
    }
  }
  &_body {
  }
}
